---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Hacerca de mi"
  description="Quien es Eder-404."
  pubDate={new Date("2023")}
  heroImage="/pfp.jpg"
>
  <p>
    Hola soy Eder un anon mas del internet, quien soy Eder, tengo 23 años soy de
    la México city, mi alma mater es la UNAM. Y empece con este Tryp de la web3
    en el 2018, justo después de terminar con mi primer amor. No me gusta dejar
    datos míos por el internet, por algunas malas experiencias, prefiero mi
    seudoanonimato, hahaha aunque el gobierno sabe quien soy, pero bueno me
    dedico al desarrollo web3 soy “full stack developer web3 jr”. Estoy en el
    proceso de llegar al nivel de senior, pero el tiempo lo dará. Si quieres
    saber más sobre mi portafolio lo puedes ver en mi blog o en mi GitHub.
    Actualmente estoy colaborando en el desarrollo de algunos productos nativos
    web3. Una de mis habilidades especiales es buscar información, y los datos.
    ¿ Quieren un dato curioso ? Pues aquí no es el lugar. Soy súper fan de la
    privacidad, seguramente en el futuro hable de privacidad onchain, en algún
    artículo, porque todos odiamos Arcan, hahaha pero se puede hacer cosas
    interesantes, trackear VC, y sus inversiones. Soy fan de los videojuegos en
    especial el Apex Legens. Soy un maxi de Linux, menos para jugar. Y estos son
    algunas hackathons en los que eh participado, en algunos se ganó.

	<link>
	<link>
	
	<p>*/decentralizer</p>
  </p>
</Layout>
